body{
    padding: 10px;
    margin: 0px;
    background-color: rgb(246, 247, 240);
    width: auto;
    text-align: justify;
}

body .contentGrid{
    display: grid;
    grid-template-areas: "main sidebar";
    grid-template-columns: auto auto;
    grid-template-rows: auto; 
    font-family: 'Noto Sans HK';
    margin: 0px auto;
    width: 800px;
}


body .contentGrid .sidebar{
    width: auto;
    font-size: small;
    grid-area: sidebar;
}

body .contentGrid .sidebar div{
    margin-top: 100px;
    position: sticky;
    top: 50px;
}

body .contentGrid .mainContent{
    grid-area: main;
    max-width: 500px;
    margin: 20px;
}

.opts, .hand, .bidSeq, .tbl{
    background-clip: content-box;
    background-color: rgba(231, 230, 229, 0.75);
    padding: 3px;
    outline-offset: -3px;
    border-left: 7px solid rgb(207, 204, 202);
    border-collapse: collapse;
    margin: 10px;
}

.opts > tbody > tr > td:first-child{
    vertical-align: top;
    white-space: nowrap;
}

.tbl td{
    border: 1px solid rgb(207, 204, 202);
    text-align: left;
}

.bidSeq > tbody > tr > td:first-child {
    min-width: 40px;
    text-align: center;
}


.hand{
    font-family: Inconsolata;
    letter-spacing: 0.15em;
}

.hand > tbody > tr > td{
    padding: 0em;
}

.spsymbol{color: navy;}
.hesymbol{color: red;}
.disymbol{color: orangered;}
.clsymbol{color: green;}
.ntsymbol{color: black;}

.spsymbol, .hesymbol, .disymbol, .clsymbol, .ntsymbol{
    font-family: 'Noto Sans HK';
    display: inline-block;
    width: 1em;
    text-align: center;
}

.importantCall > td:first-child{
    background-color: rgb(255, 241, 132);
}

.unimportantCall td,
.unimportantCall td span {
    color: grey;
}

.annotatedCall > td:first-child,
.jargon{
    background-color: rgb(173, 216, 230, 0.75);
}

.centerNote{
    margin: 10px auto;
    width: 400px;
    background-color: rgb(255, 241, 132, 0.5);
    border-left: 7px solid rgba(255, 241, 132, 1);
}

span.jargon{
    font-weight: bolder;
}

div.warning{
    background-color: rgba(255, 211, 211, 0.5);
    border-left: solid 7px rgb(255, 211, 211);
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
    body .contentGrid{
        width: auto;
    }
}