<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans HK' rel='stylesheet'>
  </head>
  <body>
    <div class="content">
      <div class="contentGrid">
        <div class="mainContent">
          {{{content}}}
        </div>
        <div class="sidebar">
          <div>
            <a href="/">Home</a>
            {{{ toc content }}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>